# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.PG.iml
# Datasource local storage ignored files
/../../../../../../../../:\DATA\repositories\HeightPerfomanseDatabase\PG\.idea\.idea.PG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
